@{ Layout = null;}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
</head>
<body>
Wnętrze Kontrollera @ViewBag.Controller i akcji @ViewBag.Action
</body>
</html>