@model Dictionary<string, string>
@{ Layout = null;}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Action</title>
</head>
<body>
@foreach (var kvp in Model)
{
  <div>
    <span>@kvp.Key -></span>
    <span>@kvp.Value</span>
  </div>
}
</body>
</html>